
{% extends "layout-live-complete.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Iteration for abroad question Version 2</h1>

      <p>We believe that the current question on working or claiming benefits abroad is not being understood by users.
        <br>So if we rewrite the question to make it clearer, then we will see a reduction in the volume of users selecting yes in error, resulting in less follow-up calls from agents and more efficient processing of claims.</p>
     

         <h2 class="govuk-heading-m">Iterated abroad content based on post-UR analysis:</h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>Iteration 1 - <a href="/design-ideas/wt-3759-abroad-questions/abroad-iteration-1/working-abroad">Working abroad question</a></li>
      </ul>


    </div>
  </div>

{% endblock %}
