
{% extends "layout-no-back.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-fieldset__legend--l">Find out if you’re eligible for New Style Jobseeker’s Allowance</h1>

        <p>To be eligible you’ll need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>have worked as an employee</li>
          <li>paid Class 1 National Insurance contributions, usually in the last 2 to 3 years</li>
        </ul>
        <p>National Insurance credits can also count.</p>

        <p>You will not be eligible if you were:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>self-employed</li>
          <li>only paid Class 2 National Insurance contributions</li>
        </ul>
        <p>Unless you were working as a share fisherman or a volunteer development worker.</p>

        {{ govukButton({
            text: "Continue",
            href: "residence"
        }) }}


        <p>The online service is also available in <a href='#'>Welsh (Cymraeg)</a>.</p>

    </div>

  </div>

{% endblock %}
