
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Claim start date</span>
        Tell us more about why you did not claim before today's date
      </h1>

      <form action="change-date" method="post">

        {% call govukFieldset({
        }) %}

        {{ govukCharacterCount({
          name: "why-did-you-not-claim",
          id: "why-did-you-not-claim",
          rows: 5,
          maxlength: 1000,
          value: data['why-did-you-not-claim'],
          label: {
            text: "Give as much information as you can, including dates."
          }
        }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
