
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Personal details</span>
        What is your phone number?
      </h1>

      <form action="contact-phone" method="post">

        {% call govukFieldset({
        }) %}

        {{ govukInput({
          label: {
            text: "We will use your mobile number to contact you about your application. We can use a landline if you don’t have a mobile."
          },
          hint: {
            text: "We can contact you on a landline if you don’t have a mobile."
          },
          classes: "govuk-input--width-20",
          id: "contact-telephone-number",
          name: "contact-telephone-number",
          value: data["contact-telephone-number"]
        }) }}

        {% endcall %}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
