
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="do-you-know-when-starts" method="post">

        {{ govukRadios({
          idPrefix: "future-pension-know-when-starts",
          name: "futurePensionDoYouKnowWhenStart",
          classes: "govuk-radios--inline",
          fieldset: {
            legend: {
              text: "Do you know when this future pension or annuity starts?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [{
            value: "future-pension-know-when-starts-yes",
            text: "Yes"
          }, {
            value: "future-pension-know-when-starts-no",
            text: "No"
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
