
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block content %}

{#
<p><strong>
Note: The pound sign needs to be inside the input text box, this is styled by macros/macros.njk
</strong></p>
#}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="payment-frequency" method="post">

        {% set prefix = "future-pension" %}

        {{ govukRadios({
          idPrefix: "current-work-paid",
          name: "futurePensionPaid",
          fieldset: {
            legend: {
              text: "How often will your pension or annuity be paid?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [{
            value: "Weekly",
            text: "Weekly",
            checked: checked("futurePensionPaid", "Weekly"),
            conditional: {
              html: grossPensionAmountInput(prefix, "weekly")
            }
          }, {
            value: "Fortnightly",
            text: "Fortnightly",
            checked: checked("futurePensionPaid", "Fortnightly"),
            conditional: {
              html: grossPensionAmountInput(prefix, "fortnightly")
            }
          }, {
            value: "FourWeekly",
            text: "Four weekly",
            checked: checked("futurePensionPaid", "FourWeekly"),
            conditional: {
              html: grossPensionAmountInput(prefix, "four-weekly")
            }
          }, {
            value: "Monthly",
            text: "Monthly",
            checked: checked("futurePensionPaid", "Monthly"),
            conditional: {
              html: grossPensionAmountInput(prefix, "monthly")
            }
          }, {
            value: "Quaterly",
            text: "Quaterly",
            checked: checked("futurePensionPaid", "Quaterly"),
            conditional: {
              html: grossPensionAmountInput(prefix, "quaterly")
            }
          }, {
            value: "BiAnnually",
            text: "Bi annually",
            checked: checked("futurePensionPaid", "BiAnnually"),
            conditional: {
              html: grossPensionAmountInput(prefix, "bi-annually")
            }
          }, {
            value: "Annually",
            text: "Annually",
            checked: checked("futurePensionPaid", "Annually"),
            conditional: {
              html: grossPensionAmountInput(prefix, "annually")
            }
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
