{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Personal details</span>
      <h1 class="govuk-heading-l">What do you need instead of standard letters?</h1>

      <form class="form" action="letters-phone-contact-preference" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set emailHtml %}
        {{ govukInput({
          id: "contact-by-email",
          name: "contact-by-email",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Enter an email address
                   For example name@example.com"
          }
        }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "letters-phone-contact-preference",
          name: "letters-phone-contact-preference",
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select the best options for your needs."
          },
          items: [
            {
              value: "audio",
              text: "Audio form"
            },
            {
              value: "braille",
              text: "Braille"
            },
            {
              value: "colouredPaper",
              text: "Coloured paper"
            },
            {
              value: "email",
              text: "Email",
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "largePrint",
              text: "Large print"
            },
            {
              value: "email",
              text: "Word document",
              conditional: {
                html: emailHtml
              }
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "No, I will not need any of these formats",
              behaviour: "exclusive"
            }
          ]
        }) }}


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
