
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Are you sure you want to remove this employer?
      </h1>
      <form action="#" method="post">
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Yes, remove"
          }) }}
          <a class="govuk-link" href="check-answers">No, cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
