
{% extends "layout-no-back.html" %}

{% block pageTitle %}
  Your application has timed out – Apply for New Style Jobseeker&rsquo;s Allowance – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-fieldset__legend--l">Your application has been closed</h1>
        
        
        <p>We have closed your application because you did not do anything for 20 minutes. This is to protect your information.</p>
        <p>You will need to start your application again.</p>

        {{ govukButton({
            text: "Start again",
            href: "restart-application"
        }) }}

    </div>
  </div>

{% endblock %}
