
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <form action="bank-account" method="post">

        {% call govukFieldset({
            legend: {
                text: "Your bank details",
                classes: "govuk-fieldset__legend--l",
                isPageHeading: true
            }
        }) %}

        <p>This is the account your Jobseeker&rsquo;s Allowance will be paid into.</p>

        {{ govukDetails({
            summaryText: "What to do if you don’t have a bank account",
            html: '<p>If you don&rsquo;t personally have a bank account, we can use an account of a family member  or trusted friend.</p>
            <p><a href="/v1_0-citizen/4-other-benefits">Continue without providing bank details</a></p>'
        }) }}

        {{ govukInput({
            label: {
                text: "Name of account holder"
            },
            id: "pay-account-holder",
            name: "pay-account-holder",
            value: data['pay-account-holder'],
            classes: "govuk-input--width-20"
        }) }}

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-!-margin-bottom-1">Sort code</legend>

            <div class="govuk-form-group govuk-short-input">
                <label class="govuk-label govuk-visually-hidden" for="sort-1">Sort code part 1</label>
                <input value="{{ data['pay-account-sort-1'] }}" class="govuk-input govuk-input--width-2 govuk-!-margin-right-3" id="sort-1" name="pay-account-sort-1" type="number" maxlength="2">
                <label class="govuk-label govuk-visually-hidden" for="sort-2">Sort code part 2</label>
                <input value="{{ data['pay-account-sort-2'] }}" class="govuk-input govuk-input--width-2 govuk-!-margin-right-3" id="sort-2" name="pay-account-sort-2" type="number" maxlength="2">
                <label class="govuk-label govuk-visually-hidden" for="sort-3">Sort code part 3</label>
                <input value="{{ data['pay-account-sort-3'] }}" class="govuk-input govuk-input--width-2" id="sort-3" name="pay-account-sort-3" type="number" maxlength="2">
            </div>
        </fieldset>

        {{ govukInput({
            label: {
                text: "Account number"
            },
            id: "pay-account-number",
            name: "pay-account-number",
            value: data['pay-account-number'],
            classes: "govuk-input--width-20",
            type: "number",
            attributes: {
                "maxlength": "18"
            }
        }) }}

        {{ govukInput({
            label: {
                text: "Building society roll or reference number (optional)"
            },
            id: "pay-reference-number",
            name: "pay-reference-number",
            value: data['pay-reference-number'],
            classes: "govuk-input--width-20",
            type: "number",
            hint: {
                text: "If your building society uses a roll or reference number, you will find it on your passbook."
            },
            attributes: {
                "maxlength": "18"
            }
        }) }}


        {% endcall %}

          {{ govukButton({
              text: "Continue"
          }) }}
          
      </form>
    </div>
  </div>

{% endblock %}
