
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You can&rsquo;t apply online</h1>
            <p>As you are under 18, this online service is not suitable for you to use. <a href="https://www.gov.uk/contact-jobcentre-plus">For advice contact Jobcentre Plus</a>, where a customer service agent will help you with your claim.</p>
            <p class="govuk-!-margin-top-6">If you are not sure which benefit to apply for you can check online.</p>
            <p><a href="https://www.gov.uk/benefits-calculators">Find other benefits</a></p>
        </div>
    </div>

{% endblock %}
