{% extends "layout-no-back.html" %}

{% block pageTitle %}
  DWP - Apply for New Style Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Eligibility prototypes</h1>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/design-ideas/1401-eligibility/v5">Version #5</a></li>
            <li><a href="/design-ideas/1401-eligibility/v4">Version #4</a></li>
            <li><a href="/design-ideas/1401-eligibility/v3">Version #3</a></li>
            <li><a href="/design-ideas/1401-eligibility/v2?version=2.1">Version #2</a></li>
            <li><a href="/design-ideas/1401-eligibility/v1">Version #1</a></li>
        </ul>
    </div>
</div>  
{% endblock %}