
{% extends "layout-live-complete.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Backdating question removal</h1>

      <p>If we remove the backdating questions we will have to use the Application Complete screen to let citizens know how they can claim backdating. </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Version 1 - <a href="/design-ideas/wt-1446-backdating-removal/v1/check-answers">Application complete - Eligible or not eligible</a></li>
        <li>Version 2 - <a href="/design-ideas/wt-1446-backdating-removal/v2/check-answers">Application complete - Tabbed content</a></li>
        <li>Version 3 - <a href="/design-ideas/wt-1446-backdating-removal/v3/check-answers">Application complete - No eligibility references</a></li>

      </ul>


    </div>
  </div>

{% endblock %}
