
{% extends "layout-live-complete.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Backdating question removal</h1>

      <p>If we remove the backdating questions we will have to... </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Version 1 - <a href="/design-ideas/wt-1446-backdating-removal/confirmation-backdating-v1">Application complete</li>

      </ul>


    </div>
  </div>

{% endblock %}
