
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="guard" method="post">

        {{ govukRadios({
            idPrefix: 'abroad',
            name: 'workBenefitAbroad',
            classes: "govuk-radios--inline",
            fieldset: {
                legend: {
                    text: 'Have you worked or claimed benefit outside of the United Kingdom in the last 4 years?',
                    isPageHeading: true,
                    classes: 'govuk-fieldset__legend--l'
                }
            },
            items: [
                {
                    value: "yes",
                    text: "Yes"
                },
                {
                    value: "no",
                    text: "No"
                }
            ]
          })
        }}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
