
{% extends "layout-beta.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Personal details</span>
        Is this email address correct?
      </h1>

      <form action="bank-account" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <p>
              {{ data['email-address'] }}
            </p>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="emailverification" name="emailverification" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="emailverification">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="emailverification2" name="emailverification" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="emailverification2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>
  </div>

{% endblock %}
