
{% extends "layout-no-back.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title govuk-panel__title--centred">Application complete</h1>
      </div>

    

      <h3 class="govuk-heading-m">What happens next</h3>
      <p>We will send you confirmation of your application if you have provided a mobile number or an email address. </p>
      <p>You do not need to go to an interview at the moment because of coronavirus (COVID-19). You will only be asked for more information if it is needed.</p>
      <p>We are experiencing high numbers of benefit applications. We will process your application as quickly as possible. You do not need to contact us or make another application.</p>



      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>



    </div>
  </div>

{% endblock %}
