{% extends "layout-no-back.html" %}

{% block pageTitle %}
  DWP - Apply for New Style Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><a href="https://jira.service.dwpcloud.uk/browse/BWADH-1001">Jira reference: 1001</a></span>
        No fixed address
      </h1>

      <p>Worked on by: Neil Holroyd, Poppy Davis, Gareth Joyce</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-l">Versions</h2>

        <ul class="govuk-list">
      
            <li>
                <span class="govuk-caption-m">March 2021</span>
                <h2 class="govuk-heading-m">Initial thoughts</h2>
                <p>Prototypes to capture our assumptions.</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li><a href="/design-ideas/1001-no-fixed-address/v2/address">Iteration 2</a> – 15 March 2021 - content updates from Poppy Davis</li>
                  <li><a href="/design-ideas/1001-no-fixed-address/v1/address">Iteration 1</a> – 4 February 2021</li>
                </ul>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </li>

       
        </ul>
        
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  

{% endblock %}