
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="increase-when" method="post">

        {{ govukRadios({
          idPrefix: "current-pension-increase-frequency",
          name: "current-pension-increase-frequency",
          fieldset: {
            legend: {
              text: "When does the pension increase?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: todaysDate.month | getNextSixMonths
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
