
{% extends "layout-beta.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Personal details</span>
        What is your phone number?
      </h1>

<p>We'll use your mobile number to contact you about your application. We can use a landline if you do not have a mobile.</p>

      <form action="contact-phone" method="post">

        {{ govukInput({
  label: {
    text: "Phone number"
  },
  classes: "govuk-input--width-10",
  id: "width-10",
  name: "width-10"
}) }}
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I do not have a phone number
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Your claim could be delayed if you do not provide a phone number.</p>
    <p> <a href="contact-do-you-have-an-email">Continue without providing a phone number</a>.</p>
  </div>
</details>




        <h2 class="govuk-heading-m">
          Do you have a disability or health condition that means we need to use an accessible format when we call you?
        </h2>


        {{ govukRadios({
          idPrefix: 'contact-telephone-number',
          name: 'contact-telephone-number-af',
          classes: "govuk-radios--inline",
          items: [{
            value: "yes",
            text: "Yes",
            conditional: {
              html: contactPhoneYes
            }
          }, {
            value: "no",
            text: "No"
          }]
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}


      </form>
      </div>
      </div>



{% endblock %}
