{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Accessibility</span>
      <h1 class="govuk-heading-l">Contacting you about your application</h1>

      <form action="alternate-format" method="post">

        <p>After you've submitted your application, we usually contact you by letter and phone.
        </p>

        <h1 class="govuk-heading-m">Do you need us to use an alternative format when we contact you by letter or phone?</h1>



          {% from "govuk/components/radios/macro.njk" import govukRadios %}

          {{ govukRadios({
            idPrefix: "alternate-format",
            name: "AlternateFormat",
            fieldset: {
              legend: {
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "For example large print, email or Relay UK."
            },
            items: [
              {
                value: "alternateFormatYes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

  </div>

{% endblock %}
