
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="eligible" method="get">

        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset" aria-describedby="eligibility-contributions-hint">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Have you been employed and paid National Insurance over the last 2 to 3 years?
                    </h1>
                </legend>

                <span id="eligibility-contributions-hint" class="govuk-hint">
                  You may be eligible if you have paid enough National Insurance contributions, usually over the last 2 to 3 years. National Insurance credits can also count.
                </span>

                {{ govukRadios({
                    idPrefix: 'contributions',
                    name: 'eligibilityContributions',
                    items: [
                        {
                            value: "eligibility-contributions-yes",
                            text: "Yes"
                        },
                        {
                            value: "eligibility-contributions-no",
                            text: "No"
                        },
                        {
                            value: "eligibility-contributions-not-sure",
                            text: "I'm not sure"
                        }
                    ]
                })
                }}
            </fieldset>

        </div>

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
