
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You may be eligible for New Style Jobseeker's Allowance</h1>
<p>Based on your answers, you may be able to get New Style Jobseeker's Allowance</p>
      <p class="govuk-body">To apply, you'll need your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>National Insurance number</li>
        <li>bank or building society account details (or those of a family member or trusted friend)</li>
        <li>employment details for the last 6 months, including employer contact details and dates you worked with them</li>
        <li>private pension or annuity statement if you get, or could get, payments from one - you do not need to tell us about one you've inherited from someone who died</li>
      </ul>

      <div class="govuk-inset-text">It usually takes 20 minutes to complete the form. You cannot save your answers and come back to the form later. But you’ll get a chance to check and update your answers before you send it.</div>

      <p>You may notice references to ‘the department’ throughout the application. For citizens in England, Wales and Scotland, this refers to the Department for Work and Pensions (DWP). For citizens in Northern Ireland, this refers to the Department for Communities (DfC).</p>

      <p>The department will treat your personal information carefully. We may use it for any of our purposes.

      To learn about your information rights and how we use information, see our <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter">personal information charter</a> if you live in England, Wales or Scotland, or the <a class="govuk-link" href="https://www.communities-ni.gov.uk/dfc-privacy-notice">privacy notice</a> if you live in Northern Ireland.</p>

      {{ govukButton({
            text: "Start now",
            href: "../2-claim-start/start-date"
        }) }}

    </div>
  </div>

{% endblock %}
