{% extends "layout-no-back.html" %}

{% block pageTitle %}
DWP - Apply for New Style Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}
{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"><a href="https://jira.service.dwpcloud.uk/browse/BWADH-1420">Jira reference:
          1420</a></span>
      Change claim start date
    </h1>
    <p>An effort to allow people to change their claim start date at the end of their application without losing all of the information from their application.
    
    <p>Currently, if we were to enable this functionality, and the customer were to proceed with a date change, the information gathered would be cleared from the cache, but without the customer being aware of this – thereby submitting an incomplete application.

    <p>Worked on by: Neil Holroyd, Gareth Joyce, Poppy Davis</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Versions</h2>

    <ul class="govuk-list">

          <li>
        <span class="govuk-caption-m">30 November 2020</span>
        <h2 class="govuk-heading-m"><a href="/design-ideas/1420-change-claim-start/iteration-7/2-claim-start/start-date">#7 Changing the questions to negate the need to answer them again</a></h2>
 
             <p>Note: This prototype is based on the assumption that time frames we ask about in the data gathering are not required to change because of the Linking Periods rule, other than two questions where the dates need to be extended.

            <p>Note: the second version of this (not prototyped) relates to a customer backdating their claim in the first instance and deciding later they should change it to today. From the Summary they would change the date and then be taken directly back to the Summary page. Upon submitting their application, the data we have gathered relating to backdating a claim would be deleted.

        {{ govukDetails({
                      summaryText: "Neil's hypothesis",
                      html: '
                      <p>we know that customers need to be able to change their claim date at the end of the data gathering, and that currently if we enable this functionality we see empty claims coming through;</p>
                      <p>so if we have gathered the data we need to cover a backdated claim at the outset, by rephrasing the Jury question to cover 6 months and the Previous employment to 9 months (to include the 3 month backdating time period);</p>
                      <p>we will have overcome the technical issue around clearing the cache and see less incomplete claims being submitted.</p>
                      '
                    }) }}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </li>

          <li>
        <span class="govuk-caption-m">23 November 2020</span>
        <h2 class="govuk-heading-m"><a href="/design-ideas/1420-change-claim-start/iteration-6/check-answers">#6 Combining the date change formats and changing the alert page journey position</a></h2>
        {{ govukDetails({
                      summaryText: "Neil's hypothesis",
                      html: '
                      <p>if customers change the date and the cache is cleared;</p>
                      <p>we can check at the start that they want to do this and warn them that the information will be lost if they go ahead;</p>
                      <p>we’ll see that we do not get empty claims.</p>
                      '
                    }) }}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </li>

      <li>
        <span class="govuk-caption-m">18 November 2020</span>
        <h2 class="govuk-heading-m"><a href="/design-ideas/1420-change-claim-start/iteration-5/check-answers">#5 Putting the customer in control</a></h2>
        {{ govukDetails({
                      summaryText: "Neil's hypothesis",
                      html: '
                      <p>if customers change the date and the cache is cleared;</p>
                      <p>we can bring them back to the summary page and let them see what they need to do;</p>
                      <p>we’ll see that customers feel in control of the process.</p>
                      '
                    }) }}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </li>

      <li>
        <span class="govuk-caption-m">18 November 2020</span>
        <h2 class="govuk-heading-m"><a href="/design-ideas/1420-change-claim-start/iteration-4/check-answers">#4 Ask questions asking the customer to determine the relevant date</a></h2>
        {{ govukDetails({
                      summaryText: "Neil's hypothesis",
                      html: '
                      <p>if we have to ask questions again without using a dynamic date;</p>
                      <p>so we can reframe the question set;</p>
                      <p>we’ll see that customers can reach an accurate date using the question provided.</p>
                      '
                    }) }}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </li>

      <li>
        <span class="govuk-caption-m">18 November 2020</span>
        <h2 class="govuk-heading-m"><a href="/design-ideas/1420-change-claim-start/iteration-3/check-answers">#3 Ask questions using a dynamic date</a>
        </h2>
        {{ govukDetails({
                    summaryText: "Neil’s hypothesis",
                    html: '
                    <p>If we have a set of date sensitive questions we need to ask again – and the cache is cleared – we can help them;</p>
                    <p>so by reframing the questions around a dynamic date;</p>
                    <p>we’ll enable customers to work out the dates we need to know about.</p>
                    '
                  }) }}
        <h3>Outcome</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>No outcomes at the moment</li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </li>
      <li>
        <span class="govuk-caption-m">18 November 2020</span>
        <h2 class="govuk-heading-m"><a href="/design-ideas/1420-change-claim-start/iteration-2/check-answers">#2 Ask the same questions as we would if you changed the date at the beginning</a></h2>
        {{ govukDetails({
                    summaryText: "Neil’s hypothesis",
                    html: '
                    <p>We know that the date sensitive question part of the application is the same, regardless of customers changing the claim date at the beginning of the journey;</p>
                    <p>so by just asking them the extra questions that we would have done initially;</p>
                    <p>we will have the same information.</p>
                    '
                  }) }}
        <h3>Outcome</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>No outcomes at the moment</li>
        </ul>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </li>
      <li>
        <span class="govuk-caption-m">18 November 2020</span>
        <h2 class="govuk-heading-m"><a href="/design-ideas/1420-change-claim-start/iteration-1/check-answers">#1 Focus on minimum changes only</a>
        </h2>
        {{ govukDetails({
                    summaryText: "Neil’s hypothesis",
                    html: '
                    <p>We know that not giving users the ability to back date their claim on the check answers page creates a bad customer experience; currently if you back date the claim at the beginning, the question set remains the same after the intital backdating questions, regardless of a different date;</p>
                    <p>so if we simply allow them to change the start date (adding in the new legally required questions jira-1613);</p>
                    <p>we can go directly back to the check answers page.</p>
                    '
                  }) }}
        <h3>Outcome</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>No outcomes at the moment</li>
        </ul>
      </li>
    </ul>

  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


{% endblock %}