
{% extends "layout-no-back.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your eligibility for {{ serviceName }}</h1>

        <p>In this task, you&rsquo;ll be asked up to 6 questions.</p>
        <p>The answers you give will show if you are eligible to apply for {{ serviceName }}.</p>

        {{ govukButton({
            text: "Continue to questions",
            href: "residence"
        }) }}

        <h2 class="govuk-heading-m">Other ways to apply</h2>
        <p>The online service is also available in <a href='#'>Welsh (Cymraeg)</a>.</p>
        <p>You can’t register for this service if you’re in the UK illegally.</p>
    </div>

  </div>

{% endblock %}
