
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Previous employment</span>
        Have you worked or claimed benefit outside of the United Kingdom in the last 4 years?
      </h1>

      <form action="guard" method="post">

        {{ govukRadios({
            idPrefix: 'abroad',
            name: 'workBenefitAbroad',
            classes: "govuk-radios--inline",
            items: [
                {
                    value: "Yes",
                    checked: checked("workBenefitAbroad", "Yes"),
                    text: "Yes"
                },
                {
                    value: "No",
                    checked: checked("workBenefitAbroad", "No"),
                    text: "No"
                }
            ]
          })
        }}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
