
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Claim start date</span>
        Do you want your claim to start from today?
      </h1>

      <form action="start-date" method="post">

        {% call govukFieldset({
        }) %}



        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "change-claim-start",
          name: "claimstart",
          fieldset: {
            legend: {
              
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              html: "Yes, I want my claim to start from today <strong>" + todaysDate.original | moment + "</strong>"
            },
            {
              value: "no",
              html: "No, I want my claim to start from an earlier date"
            }
          ]
        }) }}
        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
