
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Work or benefits abroad</span>
        Have you worked or claimed benefit outside of the United Kingdom in the last 4 years?
      </h1>

      {{ govukInsetText({
        text: "Your new claim start date maybe beyond the 4 years allowed for having worked or claimed benefits outside of the United Kingdom."
      }) }}

      <form action="guard" method="post">

        {{ govukRadios({
            idPrefix: 'abroad',
            name: 'workBenefitAbroad',
            classes: "govuk-radios--inline",
            items: [
                {
                    value: "yes~/design-ideas/1420-change-claim-start-date/iteration-1/future-pensions",
                    text: "Yes"
                },
                {
                    value: "no~/design-ideas/1420-change-claim-start-date/iteration-1/future-pensions",
                    text: "No"
                }
            ]
          })
        }}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
