
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block content %}

<p><strong>
Note: Button and inline link should be vertically aligned.
</strong></p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form>

        <h1 class="govuk-heading-l">Are you sure you want to remove this pension?</h1>

        <div class="inline-form-group">
          {{ govukButton({
            text: "Yes, remove",
            classes: "inline-item govuk-!-margin-right-2"
          }) }}

          <a href="#" class="inline-item inline-link">No, cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
