
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">New Style Jobseeker’s Allowance (JSA)</span>
            <h1 class="govuk-heading-l">Based on your answers, you are not eligible for this benefit</h1>

            <p>This is because you must live in England, Scotland or Wales to get New Style JSA.</p>

            <p>If you’re in Northern Ireland you need to <a href="https://www.nidirect.gov.uk/articles/jobseekers-allowance">apply for Jobseeker’s Allowance on NI Direct</a>.</p>

           <form action="ineligible-residency" method="post">

                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset">

                            <h2 class="govuk-heading-m">What do you want to do next?</h2>

                            {{ govukRadios({
                                idPrefix: 'eligibility-do-next',
                                name: 'eligibilityDoNext',
                                items: [
                                    {
                                        value: "do-next-other",
                                        text: "Find other benefits"
                                    },
                                    {
                                        value: "do-next-apply",
                                        text: "Continue applying for New Style Jobseeker's Allowance",
                                        conditional: {
                                            html: "<p>You can continue your application if you still think you are eligible for this benefit.
                                            We'll check to make sure.</p>"
                                        }
                                    }
                                ]
                            })
                            }}
                        </fieldset>

                    </div>

                    {{ govukButton({
                        text: "Continue"
                    }) }}

                </form>

        </div>
    </div>

{% endblock %}
