
{% extends "layout-live-complete.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title govuk-panel__title--centred">Application complete</h1>
        <div class="govuk-panel__body govuk-!-font-size-27">
            Your reference number is your National Insurance number <strong>QQ 12 34 56 C</strong>
          </div>
      </div>

      <!-- <p>Your reference number is your National Insurance number: <strong>[NINo]</strong></p> -->



      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We'll process your application.</p>

      <p>If you've provided a mobile number or email address, we'll keep you updated on your application's progress.</p>

      <h2 class="govuk-heading-m">If you can get New Style JSA</h2>
      <p>We usually contact you within <strong>14 days</strong> about an appointment to agree what you need to do to look for work.</p>

      <p>This appointment will be with a work coach at your local Jobcentre Plus office and can last for up to 1 hour.</p>

      <p><a href="https://gov.uk/dwp/jsa-interview">Check what proof of identity and other documentation</a> you need to bring with you. If you need to bring someone with you to help, you can.</p>

      <p>You must attend your appointment and agree your claimant commitment before we can pay you. We aim to pay within <strong>7 days</strong>.</p>

      <h2 class="govuk-heading-m">If you cannot get New Style JSA</h2>
      <p>We usually send you a letter within <strong>14 days</strong> to explain why.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">Contacting us</h2>
        You only need to <a href=https://www.gov.uk/jobseekers-allowance/report-a-change-of-circumstances>contact us to report a change of circumstances</a>, such as starting a new job
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Backdating your claim</h2>
      <p>In certain circumstances, <a href="#0">you can start your claim</a> from an earlier date than today. If your claim is eligible for backdating, you can still only get New Style JSA for up to 182 days (about 6 months) from your claim start date.</p>

      <p><strong>If you want to ask for backdating</strong></p>
      <p>There are 3 ways to get the JSA5 form, which you must complete and post back to us so that we can consider your claim for backdating.</p>

      <p>To get the JSA5 form, you can either:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">download the JSA5.pdf</a> form (23Kb) and print at home or somewhere convenient</li>
        <li>collect the JSA5 form from your local Jobcentre Plus office before or during your first appointment with a work coach</li>
        <li>call the Benefit Enquiry Line and ask for the JSA5 form to be sent you by post Telephone: 0800 055 6688 Textphone: 0800 023 4888</li>
      </ul>

      <p>Once you’ve completed the JSA5 form, you must send it to the following address:</p>

      <p>New Style Jobseeker's Allowance<br>
        Post Handling Site<br>
        Wolverhampton<br>
        WV99 1AJ</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Do you need help with housing costs or support for a partner or child?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>If you're on a low income you might be able to apply for Universal Credit as part of a dual claim with New Style JSA.</p>
          <p>Unlike New Style JSA, you can apply with a partner and get support for housing costs, children and childcare.</p>
          <p>You or your partner must have less than £16,000 in savings or investments to be eligilbe.</p>
          <p>Find out <a href=https://www.gov.uk/how-to-claim-universal-credit>how to claim for Universal Credit on GOV.UK</a>.</p>
        </div>
      </details>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>



      <!-- <p>If you are able to look for work safely while following government guidance on coronavirus (COVID-19) you should: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>update your CV</li>
        <li>consider your opportunities for returning to work</li>
        <li>search for jobs, for example on the government's <a href="https://jobhelp.campaign.gov.uk/">Job Help website</a></li>
        <li>make yourself available for work</li>
      </ul>


      {{ govukInsetText({
        html: "
        <h2 class=govuk-heading-m>Contacting us</h2>
         <p>You will need to <a href=https://www.gov.uk/jobseekers-allowance/report-a-change-of-circumstances>contact us to report a change of circumstances</a>, such as starting a new job.</p>
      "
      }) }}

      {{ govukDetails({
        summaryText: "Do you need help with housing costs or support for a partner or child?",
        html: "
        <p>If you're on a low income you might be able to apply for Universal Credit as part of a dual claim with New Style JSA.</p>
        <p>Unlike New Style JSA, you can apply with a partner and get support for housing costs, children and childcare.</p>
        <p>You or your partner must have less than £16,000 in savings or investments to be eligilbe.</p>
        <p>Find out <a href=https://www.gov.uk/how-to-claim-universal-credit>how to claim for Universal Credit on GOV.UK</a>.</p>
        "
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p><a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p> -->



    </div>
  </div>

{% endblock %}
