
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Pension or annuity</span>
        Are you getting money from another pension or annuity that is not inherited from someone who died?
      </h1>

      <form action="another-one-inherited" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="pension-hint">
            <!-- <div id="pension-hint" class="govuk-hint">
              <p>You can tell us about more than one pension or annuity and you can enter them in any order. If they are inherited from someone who died, you do not need to tell us.</p>
              <p>A <strong>pension</strong> is an income you receive after you retire from a job.</p>
              <p>An <strong>annuity</strong> is an insurance product that allows you to swap your pension for a guaranteed regular income that will last for the rest of your life.</p>
            </div> -->
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="another" name="another" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="another">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="another-2" name="another" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="another-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
