
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Pension or annuity</span>
        Do you have another pension or annuity you currently receive?
      </h1>

      <form action="another-one" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="pension-hint">
            <div id="pension-hint" class="govuk-hint">
              <p>You do not need to tell us about a pension or annuity if it's inherited from someone who died.</p>
            </div>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="another" name="another" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="another">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="another-2" name="another" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="another-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
