
{% extends "layout-live-nobanner.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Claim start date</span>
        Were you searching for work from {{ data['claim-start-day'] }} <span class="months">{{ data['claim-start-month'] }}</span> {{ data['claim-start-year'] }}?
      </h1>
      <form action="any-paid-work" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "ce-currently-searching",
          name: "ceCurrentlySearching",
          hint: {
            text: ""
          },
          items: [{
            value: "yes",
            text: "Yes",
            checked: checked("ceCurrentlySearching", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("ceCurrentlySearching", "no")
          }]
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
