
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="expect-payment">
        
        {{ govukRadios({
            idPrefix: 'pe-expect-payment',
            name: 'peExpectPayment',
            classes: "govuk-radios--inline",
            fieldset: {
                legend: {
                    text: 'Do you expect to receive any payments because this job has ended in the last 6 months?',
                    isPageHeading: true,
                    classes: 'govuk-fieldset__legend--l'
                }
            },
            items: [
                {
                    value: "pe-pe-expect-payment-yes",
                    text: "Yes"
                },
                {
                    value: "pe-pe-expect-payment-no",
                    text: "No"
                }
            ]
          })
        }}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
