{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Revised backdating questions</span>
        476: Iteration 1 (4th August 2020)
      </h1>

      <p class="govuk-body">
        With regards to <strong>Check your answers</strong>, it has been noted that:
        <ul class="govuk-list govuk-list--bullet">
          <li>4x current employer details can be entered</li>
          <li>4x previous employer details can be entered</li>
          <li>9x pensions can be entered; this being a combination of current, deferred, and future pensions (not 9 of each)</li>
        </ul>
      </p>

      <p class="govuk-body">
        It is worth nothing, that in the event the maximum number of pensions have been entered (for example, 9x current pensions) 
        then the subsequent removal of one or more current pensions does not open up the opportunity to 
        then add deferred or future pensions.
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" href="/design-ideas/476-backdating-questions/iteration-1/start-date">Citizen view question set</a>
          </li>
          <li>
            <a class="govuk-link" href="/design-ideas/476-backdating-questions/iteration-1/check-answers">Citizen view "Check your answers"</a>
          </li>
        </ul>
      </p>

      <h2 class="govuk-heading-m">
        Customer statement
      </h2>

      <p class="govuk-body">
        The customer statement is held within the admin prototype:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://newstylejsa-admin.herokuapp.com/common/customer-statement-revision-1" target="_blank">Work coach view "Customer statement"</a>
        </li>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <strong>Prototype URL:</strong> <a class="govuk-link" href="https://newstylejsa-admin.herokuapp.com/" target="_blank">https://newstylejsa-admin.herokuapp.com/</a>
          </li>
          <li>
            <strong>Page URL:</strong> <a class="govuk-link" href="https://newstylejsa-admin.herokuapp.com/common/customer-statement-revision-1" target="_blank">https://newstylejsa-admin.herokuapp.com/common/customer-statement-revision-1</a>
          </li>
          <li>
            <strong>Username:</strong> nsjsa-admin
          </li>
          <li>
            <strong>Password:</strong> nimda-asjsn
          </li>
        </ul>
    </ul>

  </div>
</div>

{% endblock %}