
{% extends "layout-live-complete.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Backdating section reflow and improvements</h1>

      <p>If we improve the backdating user journey, citizens will know if they are likely to be eligible for backdating and will make a more informed decision. </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Version 1 - <a href="/design-ideas/wt-1451-backdating-improving-user-journey/checkboxes/2-claim-start/start-date">Checkboxes- DWP legislative reasons</a></li>
        <li>Version 2 - <a href="/design-ideas/wt-1451-backdating-improving-user-journey/radios/2-claim-start/start-date">Radio buttons - Citizen reasons and DWP reasons</a></li>
        <li>Version 3 - <a href="/design-ideas/wt-1451-backdating-improving-user-journey/merged/2-claim-start/start-date">Merged from version 1 and 2 following user research</a></li>
      </ul>


    </div>
  </div>

{% endblock %}
