{% extends "layout-no-back.html" %}

{% block pageTitle %}
  DWP - Apply for New Style Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">Prototypes</span>
    Apply for New Style Jobseeker&rsquo;s Allowance
  </h1>

  {# FOR THE PURPOSE OF THE GDS ASSESSMENT ONLY

  <span class="govuk-tag">GDS assessment</span>
  <h2 class="govuk-heading-l">Citizen journey</h2>
  #<p>"Personal details" phone number conditionally revealed content</p>#
  <ul class="govuk-list govuk-list--bullet">
    <li>Variation of the citizen journey specifically for the GDS assessment</li>
  </ul>
  <a href="gds-citizen/1-eligibility/introduction" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Start
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </a>

    <h2 class="govuk-heading-m">GDS assessment shortcut links</h2>

      <div class="govuk-clearfix">
      <div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="gds-citizen/1-eligibility/residence">Eligibility</a></li>
          <li><a href="gds-citizen/2-claim-start/start-date">Claim start date</a></li>
          <li><a href="gds-citizen/3-details">Personal details (NINO)</a></li>
          <li><a href="gds-citizen/4-other-benefits">Other benefits</a></li>
          <li><a href="gds-citizen/5-jury-service">Jury service</a></li>
          <li><a href="gds-citizen/6-current-employment">Current employment</a></li>
          <li><a href="gds-citizen/7-previous-employment">Previous employment</a></li>
          <li><a href="gds-citizen/8-abroad">Worked or claimed benefit outside UK</a></li>
        <ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="gds-citizen/9-pensions/9a-current-pension">Current pension</a></li>
          <li><a href="gds-citizen/9-pensions/9b-deferred-pension">Deferred pension</a></li>
          <li><a href="gds-citizen/9-pensions/9c-future-pension">Future pension</a></li>
          <li><a href="gds-citizen/10-education">Education or training</a></li>
          <li><a href="gds-citizen/check-answers">Check your answers</a></li>
          <li><a href="gds-citizen/declaration">Declaration</a></li>
          <li><a href="gds-citizen/confirmation">Confirmation</a></li>
        </ul>
      </div>
      </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

#}

  <span class="govuk-tag">Latest version</span>
  <h2 class="govuk-heading-l">Citizen journey</h2>

  <p>Worked on by: Pete Leon and Poppy Davis</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Aligned with the current live service [as of 28th September 2021]</li>
  </ul>

  {{ govukButton({
    text: "Version 2.0",
    href: "v2_0-citizen/1-eligibility/introduction",
    classes: "govuk-button--start"
  }) }}

  {{ govukDetails({
    summaryText: "Version 2.0 shortcut links",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v2_0-citizen/1-eligibility/introduction">Eligibility</a></li>
          <li><a href="v2_0-citizen/2-claim-start/start-date">Claim start date</a></li>
          <li><a href="v2_0-citizen/3-details">Personal details (NINO)</a></li>
          <li><a href="v2_0-citizen/4-other-benefits">Other benefits</a></li>
          <li><a href="v2_0-citizen/5-jury-service">Jury service</a></li>
          <li><a href="v2_0-citizen/6-current-employment">Current employment</a></li>
          <li><a href="v2_0-citizen/7-previous-employment">Previous employment</a></li>
          <li><a href="v2_0-citizen/8-abroad">Worked or claimed benefit outside UK</a></li>
        <ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v2_0-citizen/9-pensions/9a-current-pension">Current pension</a></li>
          <li><a href="v2_0-citizen/9-pensions/9b-deferred-pension">Deferred pension</a></li>
          <li><a href="v2_0-citizen/9-pensions/9c-future-pension">Future pension</a></li>
          <li><a href="v2_0-citizen/10-education">Education or training</a></li>
          <li><a href="v2_0-citizen/11-availability">Availability</a></li>
          <li><a href="v2_0-citizen/check-answers">Check your answers</a></li>
          <li><a href="v2_0-citizen/declaration">Declaration</a></li>
          <li><a href="v2_0-citizen/confirmation">Confirmation</a></li>
        </ul>
      </div>'
    }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <!-- FEATURE IDEAS -->

  <h2 class="govuk-heading-l">Feature designs</h2>

  <p><a href="design-ideas/1974-af-option-1/start-date">1974: Alternative format option 1</a> [Questions on contact pages]</p>

  <p><a href="design-ideas/1974-af-option-2/start-date">1974: Alternative format option 2</a> [One question before contact pages]</p>

  <p><a href="design-ideas/1764-confirmation/confirmation">1764: Confirmation page update</a> Reintroducing conditionality [March 2021]</p>

  <p><a href="design-ideas/1001-no-fixed-address">1001: Provide a way for claimants to proceed who don't have a fixed address</a></p>

  <p><a href="design-ideas/1634-add-conditional-reveal/contact-phone">1634: Add conditional reveal to email question</a></p>

  <p><a href="design-ideas/1420-change-claim-start">1420: Change claim start date</a> [November 2020]</p>

  <p><a href="design-ideas/1401-eligibility">1401: Improve eligibility questions</a> [February 2021]</p>

  {{ govukDetails({
    summaryText: "1613: Additional backdating questions",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_5-citizen/2-claim-start/change-date">Iteration 1 [12 November 2020]</a></li>
          <li><a href="/design-ideas/1613-check-your-answers/check-answers">Check your answers page [24 November 2020]</a></li>
        </ul>
      </div>'
  }) }}

  {{ govukDetails({
    summaryText: "1557: Are you in receipt of Universal Credit?",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <p>Decided we dont currently need this question.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="design-ideas/1557-get-uc/v4">Iteration 4 [12 October 2020]</a></li>
          <li><a href="design-ideas/1557-get-uc/v3">Iteration 3 [12 October 2020]</a></li>
          <li><a href="design-ideas/1557-get-uc/v2">Iteration 2 [8 October 2020]</a></li>
          <li><a href="design-ideas/1557-get-uc/v1">Iteration 1 [7 October 2020]</a></li>
        </ul>
      </div>'
  }) }}

  {{ govukDetails({
    summaryText: "1420: Enable a change to claim start date (by citizen only)",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="design-ideas/1420-change-claim-start-date/iteration-1">Iteration 1 [10th August 2020]</a></li>
        </ul>
      </div>'
  }) }}

  {{ govukDetails({
    summaryText: "476: Revised backdating questions",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="design-ideas/476-backdating-questions/iteration-1">Iteration 1 [4th August 2020]</a></li>
        </ul>
      </div>'
  }) }}

  {{ govukDetails({
    summaryText: "No Fixed Address (NFA) or Person Without Address (PWA)",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="design-ideas/nfa-pwa/iteration-1/index">Iteration 1 [8th July 2020]</a></li>
        </ul>
      </div>'
  }) }}

  {{ govukDetails({
    summaryText: "Claim start date warning [22nd June 2020]",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="design-ideas/claim-start-date-warning/start-date">Claim start date</a></li>
          <li><a href="design-ideas/claim-start-date-warning/check-answers">Check your answers</a></li>
        </ul>
      </div>'
  }) }}

  {{ govukDetails({
    summaryText: "Interruption cards [19th May 2020]",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="design-ideas/interruption-cards/interruption-1-current-employment">Current employment</a></li>
          <li><a href="design-ideas/interruption-cards/interruption-2-previous-employment">Previous employment</a></li>
          <li><a href="design-ideas/interruption-cards/interruption-3-current-pension">Current pension</a></li>
          <li><a href="design-ideas/interruption-cards/interruption-4-deferred-pension">Deferred pension</a></li>
          <li><a href="design-ideas/interruption-cards/interruption-5-future-pension">Future pension</a></li>
        </ul>
      </div>'
  }) }}

  {{ govukDetails({
    summaryText: "Session timeout [1st May 2020]",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="design-ideas/session-timeout/session-warning">Timeout warning (wait 5 seconds after page load for warning to appear)</a></li>
          <li><a href="design-ideas/session-timeout/session-timeout">Session has timed out</a></li>
        </ul>
      </div>'
  }) }}

  {{ govukDetails({
    summaryText: "Service banner [30th April 2020]",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="design-ideas/service-banner/severity-blue">"Blue" severity level</a></li>
          <li><a href="design-ideas/service-banner/severity-green">"Green" severity level</a></li>
          <li><a href="design-ideas/service-banner/severity-orange">"Orange" severity level</a></li>
          <li><a href="design-ideas/service-banner/severity-red">"Red" severity level</a></li>
        </ul>
      </div>'
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-l">Previous versions</h2>

  <!-- VERSION 1.5 -->
  <h3 class="govuk-heading-m">
    <a href="v1_5-citizen/1-eligibility/introduction">Citizen journey &ndash; Version 1.5</a>
  </h3>

  <p>Worked on by: Gareth Joyce & Neil Holroyd</p>

  <ul class="govuk-list govuk-list--bullet">
   <li>Additional backdating questions added</li>
   <li>Updates application complete page with sign posting to Universal Credit</li>
 </ul>

 {{ govukDetails({
   summaryText: "Version 1.5 shortcut links",
   html: '
     <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
       <ul class="govuk-list govuk-list--bullet">
         <li><a href="v1_5-citizen/1-eligibility/introduction">Eligibility</a></li>
         <li><a href="v1_5-citizen/2-claim-start/start-date">Claim start date</a></li>
         <li><a href="v1_5-citizen/3-details">Personal details (NINO)</a></li>
         <li><a href="v1_5-citizen/4-other-benefits">Other benefits</a></li>
         <li><a href="v1_5-citizen/5-jury-service">Jury service</a></li>
         <li><a href="v1_5-citizen/6-current-employment">Current employment</a></li>
         <li><a href="v1_5-citizen/7-previous-employment">Previous employment</a></li>
         <li><a href="v1_5-citizen/8-abroad">Worked or claimed benefit outside UK</a></li>
       <ul>
     </div>
     <div class="govuk-grid-column-one-half">
       <ul class="govuk-list govuk-list--bullet">
         <li><a href="v1_5-citizen/9-pensions/9a-current-pension">Current pension</a></li>
         <li><a href="v1_5-citizen/9-pensions/9b-deferred-pension">Deferred pension</a></li>
         <li><a href="v1_5-citizen/9-pensions/9c-future-pension">Future pension</a></li>
         <li><a href="v1_5-citizen/10-education">Education or training</a></li>
         <li><a href="v1_5-citizen/11-availability">Availability</a></li>
         <li><a href="v1_5-citizen/check-answers">Check your answers</a></li>
         <li><a href="v1_5-citizen/declaration">Declaration</a></li>
         <li><a href="v1_5-citizen/confirmation">Confirmation</a></li>
       </ul>
     </div>'
   }) }}

  <!-- VERSION 1.4 -->
  <h3 class="govuk-heading-m">
    <a href="v1_4-citizen/1-eligibility/introduction">Citizen journey &ndash; Version 1.4</a>
  </h3>

  <p>Worked on by: Helen Osgerby & Mark Bateman</p>

   <ul class="govuk-list govuk-list--bullet">
    <li>Revised backdating questions</li>
    <li>Revised 'check your answers' (prototype isn't dynamic in the event the citizen chooses to backdate)</li>
  </ul>

  {{ govukDetails({
    summaryText: "Version 1.4 shortcut links",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_4-citizen/1-eligibility/residence">Residency</a></li>
          <li><a href="v1_4-citizen/2-claim-start/start-date">Claim start date</a></li>
          <li><a href="v1_4-citizen/3-details">Personal details (NINO)</a></li>
          <li><a href="v1_4-citizen/4-other-benefits">Other benefits</a></li>
          <li><a href="v1_4-citizen/5-jury-service">Jury service</a></li>
          <li><a href="v1_4-citizen/6-current-employment">Current employment</a></li>
          <li><a href="v1_4-citizen/7-previous-employment">Previous employment</a></li>
          <li><a href="v1_4-citizen/8-abroad">Worked or claimed benefit outside UK</a></li>
        <ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_4-citizen/9-pensions/9a-current-pension">Current pension</a></li>
          <li><a href="v1_4-citizen/9-pensions/9b-deferred-pension">Deferred pension</a></li>
          <li><a href="v1_4-citizen/9-pensions/9c-future-pension">Future pension</a></li>
          <li><a href="v1_4-citizen/10-education">Education or training</a></li>
          <li><a href="v1_4-citizen/11-availability">Availability</a></li>
          <li><a href="v1_4-citizen/check-answers">Check your answers</a></li>
          <li><a href="v1_4-citizen/declaration">Declaration</a></li>
          <li><a href="v1_4-citizen/confirmation">Confirmation</a></li>
        </ul>
      </div>'
    }) }}

  <!-- VERSION 1.3 -->
  <h3 class="govuk-heading-m">
    <a href="v1_3-citizen/1-eligibility/introduction">Citizen journey &ndash; Version 1.3</a>
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Addition of conditionally revealed content surrounding "Personal detail" and contact phone number</li>
    <li>Updated service content in line with contingency service</li>
    <li>Included information on what you need to complete application on eligible page </li>
  </ul>

  {{ govukDetails({
    summaryText: "Version 1.3 shortcut links",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_3-citizen/1-eligibility/residence">Residency</a></li>
          <li><a href="v1_3-citizen/2-claim-start/start-date">Claim start date</a></li>
          <li><a href="v1_3-citizen/3-details">Personal details (NINO)</a></li>
          <li><a href="v1_3-citizen/4-other-benefits">Other benefits</a></li>
          <li><a href="v1_3-citizen/5-jury-service">Jury service</a></li>
          <li><a href="v1_3-citizen/6-current-employment">Current employment</a></li>
          <li><a href="v1_3-citizen/7-previous-employment">Previous employment</a></li>
          <li><a href="v1_3-citizen/8-abroad">Worked or claimed benefit outside UK</a></li>
        <ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_3-citizen/9-pensions/9a-current-pension">Current pension</a></li>
          <li><a href="v1_3-citizen/9-pensions/9b-deferred-pension">Deferred pension</a></li>
          <li><a href="v1_3-citizen/9-pensions/9c-future-pension">Future pension</a></li>
          <li><a href="v1_3-citizen/10-education">Education or training</a></li>
          <li><a href="v1_3-citizen/11-availability">Availability</a></li>
          <li><a href="v1_3-citizen/check-answers">Check your answers</a></li>
          <li><a href="v1_3-citizen/declaration">Declaration</a></li>
          <li><a href="v1_3-citizen/confirmation">Confirmation</a></li>
        </ul>
      </div>'
    }) }}

  <!-- VERSION 1.2 -->
  <h3 class="govuk-heading-m">
    <a href="v1_2-citizen/1-eligibility/introduction">Citizen journey &ndash; Version 1.2</a>
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      The inclusion of section headers</p>
  </li>
</ul>

{{ govukDetails({
    summaryText: "Version 1.2 shortcut links",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_2-citizen/1-eligibility/residence">Residency</a></li>
          <li><a href="v1_2-citizen/2-claim-start/start-date">Claim start date</a></li>
          <li><a href="v1_2-citizen/3-details">Personal details (NINO)</a></li>
          <li><a href="v1_2-citizen/4-other-benefits">Other benefits</a></li>
          <li><a href="v1_2-citizen/5-jury-service">Jury service</a></li>
          <li><a href="v1_2-citizen/6-current-employment">Current employment</a></li>
          <li><a href="v1_2-citizen/7-previous-employment">Previous employment</a></li>
          <li><a href="v1_2-citizen/8-abroad">Worked or claimed benefit outside UK</a></li>
        <ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_2-citizen/9-pensions/9a-current-pension">Current pension</a></li>
          <li><a href="v1_2-citizen/9-pensions/9b-deferred-pension">Deferred pension</a></li>
          <li><a href="v1_2-citizen/9-pensions/9c-future-pension">Future pension</a></li>
          <li><a href="v1_2-citizen/10-education">Education or training</a></li>
          <li><a href="v1_2-citizen/11-availability">Availability</a></li>
          <li><a href="v1_2-citizen/check-answers">Check your answers</a></li>
          <li><a href="v1_2-citizen/declaration">Declaration</a></li>
          <li><a href="v1_2-citizen/confirmation">Confirmation</a></li>
        </ul>
      </div>'
    }) }}

<!-- VERSION 1.1 -->
<h3 class="govuk-heading-m">
  <a href="v1_1-citizen/1-eligibility/introduction">Citizen journey &ndash; Version 1.1</a>
</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>
      Grammatical issues addressed together with GDS Design System compliance</p>
</li>
<li>
      Updated eligiblity questions following instruction from SD&T and policy teams</p>
</li>
</ul>

{{ govukDetails({
    summaryText: "Version 1.1 shortcut links",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_1-citizen/1-eligibility/residence">Residency</a></li>
          <li><a href="v1_1-citizen/2-claim-start/start-date">Claim start date</a></li>
          <li><a href="v1_1-citizen/3-details">Personal details (NINO)</a></li>
          <li><a href="v1_1-citizen/4-other-benefits">Other benefits</a></li>
          <li><a href="v1_1-citizen/5-jury-service">Jury service</a></li>
          <li><a href="v1_1-citizen/6-current-employment">Current employment</a></li>
          <li><a href="v1_1-citizen/7-previous-employment">Previous employment</a></li>
          <li><a href="v1_1-citizen/8-abroad">Worked or claimed benefit outside UK</a></li>
        <ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_1-citizen/9-pensions/9a-current-pension">Current pension</a></li>
          <li><a href="v1_1-citizen/9-pensions/9b-deferred-pension">Deferred pension</a></li>
          <li><a href="v1_1-citizen/9-pensions/9c-future-pension">Future pension</a></li>
          <li><a href="v1_1-citizen/10-education">Education or training</a></li>
          <li><a href="v1_1-citizen/11-availability">Availability</a></li>
          <li><a href="v1_1-citizen/check-answers">Check your answers</a></li>
          <li><a href="v1_1-citizen/declaration">Declaration</a></li>
          <li><a href="v1_1-citizen/confirmation">Confirmation</a></li>
        </ul>
      </div>'
    }) }}

<!-- VERSION 1.0 -->
<h3 class="govuk-heading-m">
<a href="v1_0-citizen/1-eligibility/introduction">Citizen journey &ndash; Version 1.0</a>
</h3>
<ul class="govuk-list govuk-list--bullet">
<li>
      Aligned with the current MVP [as of 20th January 2020]</p>
</li>
</ul>

{{ govukDetails({
    summaryText: "Version 1.0 shortcut links",
    html: '
      <div class="govuk-clearfix"><div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_0-citizen/1-eligibility">Residency</a></li>
          <li><a href="v1_0-citizen/2-claim-start/start-date">Claim start date</a></li>
          <li><a href="v1_0-citizen/3-details">Personal details (NINO)</a></li>
          <li><a href="v1_0-citizen/4-other-benefits">Other benefits</a></li>
          <li><a href="v1_0-citizen/5-jury-service">Jury service</a></li>
          <li><a href="v1_0-citizen/6-current-employment">Current employment</a></li>
          <li><a href="v1_0-citizen/7-previous-employment">Previous employment</a></li>
          <li><a href="v1_0-citizen/8-abroad">Worked or claimed benefit outside UK</a></li>
        <ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="v1_0-citizen/9-pensions/9a-current-pension">Current pension</a></li>
          <li><a href="v1_0-citizen/9-pensions/9b-deferred-pension">Deferred pension</a></li>
          <li><a href="v1_0-citizen/9-pensions/9c-future-pension">Future pension</a></li>
          <li><a href="v1_0-citizen/10-education">Education or training</a></li>
          <li><a href="v1_0-citizen/11-availability">Availability</a></li>
          <li><a href="v1_0-citizen/check-answers">Check your answers</a></li>
          <li><a href="v1_0-citizen/declaration">Declaration</a></li>
          <li><a href="v1_0-citizen/confirmation">Confirmation</a></li>
        </ul>
      </div>'
    }) }}

{% endblock %}
