
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">We need you to look at these amounts</h1>

      {# <p>You pay National Insurance through:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>paid employment</li>
        <li>a benefit that pays them for you</li>
        <li>National Insurance credits</li>
      </ul> #}

      {{ govukTable({
        caption: "Minimum earnings in tax year",
        captionClasses: "govuk-visually-hidden",
        firstCellIsHeader: true,
        head: [
          {
            text: "Tax year"
          },
          {
            text: "Minimum earnings"
          }
        ],
        rows: [
          [
            {
              text: "2018 to 2019"
            },
            {
              text: "£3,016"
            }
          ],
          [
            {
              text: "2017 to 2018"
            },
            {
              text: "£2,938"
            }
          ]
        ]
      }) }}

      <p>Tax years start on 6 April and end on 5 April.</p>

      <h2 class="govuk-heading-l">To be eligibile, you need to have met these conditions:</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>earned at least the minimum amount</li>
        <li>earned it over any 26 weeks of the tax year</li>
        <li>earned it in either tax year</li>
      </ul>

      <form action="earnings" method="post">

        <div class="govuk-form-group">

            {{ govukRadios({
                idPrefix: 'earnings',
                name: 'eligibilityEarnings',
                fieldset: {
                  legend: {
                    text: "Did you meet these conditions?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint : {
                  text: "You can check your payslips."
                },
                items: [
                    {
                        value: "eligibility-earnings-yes",
                        text: "Yes"
                    },
                    {
                        value: "eligibility-earnings-no",
                        text: "No"
                    },
                    {
                        value: "eligibility-earnings-not-sure",
                        text: "I'm not sure"
                    }
                ]
            })
            }}

        </div>

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
