
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">New Style Jobseeker's Allowance (JSA)</span>
            <h1 class="govuk-heading-l">Based on your answers, you are not eligible for this benefit</h1>

            <p>This is because you have told us that you haven't paid any National Insurance contributions over the relevant tax years.</p>
            <p>You get these by being employed or by claiming certain benefits.</p>

            <form action="ineligible" method="post">

                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset">

                            <h2 class="govuk-heading-m">What do you want to do next?</h2>

                            {{ govukRadios({
                                idPrefix: 'eligibility-do-next',
                                name: 'eligibilityDoNext',
                                items: [
                                    {
                                        value: "do-next-other",
                                        text: "Find other benefits"
                                    },
                                    {
                                        value: "do-next-apply",
                                        text: "Continue applying for New Style Jobseeker's Allowance"
                                    }
                                ]
                            })
                            }}
                        </fieldset>

                    </div>

                    {{ govukButton({
                        text: "Continue"
                    }) }}

                </form>


        </div>
    </div>

{% endblock %}
