
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">To be eligibile, you need to have made the following level of National Insurance contributions</h1>

      {# <p>You pay National Insurance through:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>paid employment</li>
        <li>a benefit that pays them for you</li>
        <li>National Insurance credits</li>
      </ul> #}

      <h2 class="govuk-heading-m">If you were employed</h2>
      {{ govukTable({
        caption: "Minimum earnings in tax year",
        firstCellIsHeader: true,
        head: [
          {
            text: "Tax year"
          },
          {
            text: "Minimum earnings"
          }
        ],
        rows: [
          [
            {
              text: "2018 to 2019"
            },
            {
              text: "£5,800"
            }
          ],
          [
            {
              text: "2017 to 2018"
            },
            {
              text: "£5,650"
            }
          ]
        ]
      }) }}

      <h2 class="govuk-heading-s">since April 2017</h2>
      <p>Have paid Class 1 (or special Class 2) contributions to the value of 26 times the lower earnings limit.</p>

      <h2 class="govuk-heading-s">From April 2017 to March 2018 and from April 2018 to March 2019</h2>
      <p>have paid or been credited with, Class 1 (or special class 2) contributions to the value of 50 times the lower earnings limit.</p>

      <form action="eligible" method="get">

        <div class="govuk-form-group">

            {{ govukRadios({
                idPrefix: 'contributions',
                name: 'eligibilityContributions',
                fieldset: {
                  legend: {
                    text: "Have you made enough National Insurance contributions?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                    {
                        value: "eligibility-contributions-yes",
                        text: "Yes"
                    },
                    {
                        value: "eligibility-contributions-no",
                        text: "No"
                    },
                    {
                        value: "eligibility-contributions-not-sure",
                        text: "I'm not sure"
                    }
                ]
            })
            }}

        </div>

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
